version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.11
      # - image: circleci/postgres:9.6-alpine
      #   environment:
      #     POSTGRES_USER: ubuntu
      #     POSTGRES_DB: circle_test
      #     POSTGRES_PASSWORD: ubuntu
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      # - run:
      #     name: Wait for DB
      #     command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn coverage
