version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.11
      - image: circleci/postgres:9.6
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ""
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run:
          command: sudo -u postgres psql -p 5433 -c "create user ubuntu with password ‘ubuntu’;”
          command: sudo -u postgres psql -p 5433 -c "alter user ubuntu with superuser;"
          command: sudo -u postgres psql -p 5433 -c "create database circle_test;"
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn coverage
