version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9
      - image: circleci/postgres:9.6
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ""
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run:
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn init-db
          name: Set up DB
        environment:
          DATABASE_URL: postgresql://ubuntu:@localhost/circle_test?sslmode=disable
